@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.fa-laptop-code{
  size: 700px;
}

.mdl-tabs {
  display: block;
  width: 100%;
  margin-top: 60px !important;
}


@media (max-width: 768px) {

  .mdl-card {
    width: 0px;
  }

 
      .mdl-grid {
        display:block !important;
          
      }

      .mdl-tabs__tab-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-between;
        align-items: flex-start;
        height: 48px;
        padding: 0;
        margin: 40px 0px;
        border-bottom: 1px solid #e0e0e0;
    }
  }


  @media (max-width: 479px) {
   
        .mdl-cell--3-col, .mdl-cell--3-col-phone.mdl-cell--3-col-phone {
            width:0px !important;
        }
        .mdl-grid{
          padding:0px !important;
        }
    }
    
    @media (min-width: 479px) {
  
        .mdl-cell {
            margin: 0px !important;
        
        }
    }


    .mdl-card__supporting-text {
      color: rgba(0, 0, 0, 0.54);
      font-size: 1rem;
      line-height: 18px;
      overflow: hidden;
      padding: 16px 16px;
      width: 100% !important;
      text-wrap: wrap;
    }